-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."ProjectStatus" AS ENUM ('a-fazer', 'em-andamento', 'concluido');

-- CreateEnum
CREATE TYPE "public"."ProjectPriority" AS ENUM ('low', 'medium', 'high');

-- CreateEnum
CREATE TYPE "public"."Platform" AS ENUM ('N8N', 'Jira', 'Hubspot', 'Backoffice', 'Google Workspace');

-- CreateEnum
CREATE TYPE "public"."TeamMember" AS ENUM ('Guilherme Souza', 'Felipe Braat', 'Tiago Triani');

-- CreateEnum
CREATE TYPE "public"."SyncAction" AS ENUM ('CREATED', 'UPDATED', 'DELETED', 'SYNCED', 'ERROR');

-- CreateTable
CREATE TABLE "public"."projects" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "progress" SMALLINT NOT NULL DEFAULT 0,
    "platforms" "public"."Platform"[],
    "responsible" "public"."TeamMember"[],
    "image_url" TEXT,
    "start_date" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "estimated_end_date" TIMESTAMP(3) NOT NULL,
    "status" "public"."ProjectStatus" NOT NULL DEFAULT 'a-fazer',
    "priority" "public"."ProjectPriority" NOT NULL DEFAULT 'medium',
    "trello_card_id" TEXT,
    "labels" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "projects_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."sync_history" (
    "id" TEXT NOT NULL,
    "project_id" TEXT NOT NULL,
    "action" "public"."SyncAction" NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "source" TEXT NOT NULL,
    "details" JSONB,
    "success" BOOLEAN NOT NULL DEFAULT true,
    "error_message" TEXT,

    CONSTRAINT "sync_history_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "projects_trello_card_id_key" ON "public"."projects"("trello_card_id");

-- CreateIndex
CREATE INDEX "projects_status_idx" ON "public"."projects"("status");

-- CreateIndex
CREATE INDEX "projects_priority_idx" ON "public"."projects"("priority");

-- CreateIndex
CREATE INDEX "projects_trello_card_id_idx" ON "public"."projects"("trello_card_id");

-- CreateIndex
CREATE INDEX "projects_created_at_idx" ON "public"."projects"("created_at");

-- CreateIndex
CREATE INDEX "projects_updated_at_idx" ON "public"."projects"("updated_at");

-- CreateIndex
CREATE INDEX "sync_history_project_id_idx" ON "public"."sync_history"("project_id");

-- CreateIndex
CREATE INDEX "sync_history_timestamp_idx" ON "public"."sync_history"("timestamp");

-- CreateIndex
CREATE INDEX "sync_history_source_idx" ON "public"."sync_history"("source");

-- CreateIndex
CREATE INDEX "sync_history_success_idx" ON "public"."sync_history"("success");

-- AddForeignKey
ALTER TABLE "public"."sync_history" ADD CONSTRAINT "sync_history_project_id_fkey" FOREIGN KEY ("project_id") REFERENCES "public"."projects"("id") ON DELETE CASCADE ON UPDATE CASCADE;

